<!DOCTYPE html>
<html>
	<head>
		<title>FABRCC</title>
		<link rel="stylesheet" href="/static/css/index.css" type="text/css"/>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/static/js/index.js"></script>
	</head>
	<body>
		<div id="user">
			<form id="login" onSubmit="return false;">
				<label for="username">Username: </label>
				<input id="username" class="field" >
				<br>
				<label for="password">Password: </label>
				<input id="password" class="field" type="password">
				<br>
				<input id="login_btn" type="submit" value="Login" onClick="login()">
				<input id="register_btn" type="submit" value="Register" onClick="register()">
			</form>
		</div>
		<div id="content" class="hidden">
			<div id="graph">
			</div>
			<div id="add">
				<!--
				<form id="transaction" onSubmit="return false;">
					<label for="username">Username: </label>
					<input id="username" class="field" >
					<br>
					<label for="password">Password: </label>
					<input id="password" class="field" type="password">
					<br>
					<input id="login_btn" type="submit" value="Login" onClick="login()">
					<input id="register_btn" type="submit" value="Register" onClick="register()">-->
			</form>
			</div>
			<div id="transactions">
			</div>
			<div id="expand">
			</div>
		</div>
	</body>
</html>