body {
	margin: 0;
	padding: 0 200px;
	background-color: #FFFFD1;
}

.hidden {
	display: none;
}

#user {
	background-color: #FFFFD1;
	width: 100%;
	height: 10em;
	overflow-y: auto;
}

#login {
	text-align: center;
}

#login input.field {
	width: 10em;
}

#content {
	background-color: yellow;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding: 1em 1.5em;
}

#graph {
	width: 100%;
	height: 20em;
}

#add {

}

#transactions {
	background-color: white;
	overflow-y: auto;
	width: 100%;
	height: 0;
	transition: height 0.8s;
}

#expand {
	background-color: blue;
	width: 100%;
	height: 16px;
}